

p{color: green;background-color: yellow;font-size: 40px}



.text{color: yellow; background-color: green; font-size: 40px}

.font{font-size: 50px}

#bg {background-color: black; }

#ba  {
    background-color: black;
    color: white;

}





